.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  footer {
    height: 9em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;


    .socialMedia {
      display: flex;
      justify-content: center;
      margin-right: 50px;

      a{
        width: 20px;
        height: 20px;
        background-position: top;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-size: cover;
        margin: 4px 10px;
      }
    }

    .contactDetails {
      display: flex;
      justify-content: center;
      padding: 15px 0;
      margin-left: 40px;

      p{
        padding: 0 30px;
;
      }
    }

    .beforeAfter{

      position: relative;

      &::before{
        @extend %beforeAfter;
        left: 3px;

      }

      &::after{
        @extend %beforeAfter;
        right: 3px;
      }
    }

    .created{
      text-align: center;
      padding: 15px 0;
      margin-right: 50px;


    }
  }
}


%beforeAfter{
  height: 25px;
  width: 1px;
  content: "";
  display: block;
  background: black;
  position: absolute;
  top: -2px;


}